# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
*.filters
*.vcxproj
*.pdb
*.tlog
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.recipe
*.log
*.idb
*.sln
*.ilk
Project1000/Debug/Project1000.vcxproj.FileListAbsolute.txt
.vs/Algorithm_BJ/v16/.suo
